#sample-header
  .header
    .logo
      %a{:href=>"http://www.phono.com/demos", :title=>"Phono Home"}
        %img{:src=>"images/phono/logo-home-big.png", :width=>"120", :border=>"0", :height=>"153"}
    .intro
      %h1 The Kitchen Sink
      %p The kitchen sink sample showcases all of the functionality available to you in the Phono SDK. With it, you can create multiple phono instances; each able to make and receive multiple calls and chats. The log viewer, located at the bottom of this sample, monitors client/server events and errors. You can make calls to any Phono session ID, US domestic phone numbers, as well as any <a href="http://www.tropo.com" target="_blank">Tropo</a> or <a target="_blank" href="http://evolution.voxeo.com">Voxeo Evolution</a> application. You can learn more about how to use Phone by visiting the <a href="http://www.phono.com/docs">documentation</a> page and the <a href="http://www.phono.com/forums">forums</a>.

.phonoHldr
  .phono{:style=>"display:none"}
    .phonoHeader
      %a.closePhono{:href=>"#", :title=>"Remove"}
      %span.phonoIDLabel.phonoID
      %span.phonoIDLabel Session Id:
      %span.sessionId
        %img{:style=>"margin-left:10px;", :align=>"absmiddle", :src=>"images/phono/spinner.gif"}
    .phoneControl
      .inputs
        %input.callTo.pretty{:type=>"text", :value=>"app:9991484071"}
        %input.call{:type=>"button", :value=>"Call"}
        %span.inputDivider or
        %input.chatTo.pretty{:type=>"text", :value=>"realtime-voip@tropo.im"}
        %input.chat{:type=>"button", :value=>"Chat"}
        %br
        %span.tiny eg: 1-774-271-7100
      .calls
        .callHldr{:style=>"display:none;"}
          .callHeader
            %span.callID
            %span.callDetail
          .callControlHolder
            .callControls
              %input.answer{:type=>"button", :value=>"Answer"}
              %input.hangup{:type=>"button", :value=>"Hangup", :style=>"margin-right:20px;"}
            .callInputs
              %input.btn.hangup{:type=>"button", :value=>"Hangup"}
              %input.btn.talkStart{:type=>"button", :value=>"Talk Start"}
              %input.btn.mute{:type=>"button", :value=>"Mute"}
              %input.btn.unMute{:type=>"button", :value=>"Unmute"}
              %br
              %br
              %input.btn.digit{:type=>"button", :value=>"1"}
              %input.btn.digit{:type=>"button", :value=>"2"}
              %input.btn.digit{:type=>"button", :value=>"3"}
              %input.btn.digit{:type=>"button", :value=>"4"}
              %input.btn.digit{:type=>"button", :value=>"5"}
              %input.btn.digit{:type=>"button", :value=>"6"}
              %input.btn.digit{:type=>"button", :value=>"7"}
              %input.btn.digit{:type=>"button", :value=>"8"}
              %input.btn.digit{:type=>"button", :value=>"9"}
              %input.btn.digit{:type=>"button", :value=>"0"}
              %input.btn.digit{:type=>"button", :value=>"*"}
              %input.btn.digit{:type=>"button", :value=>"{#}"}
      .chats
        .chatHldr{:style=>"display:none;"}
          .chatHeader
            %a.closeChat{:href=>"javascript:void()",:title=>"Remove"}
            %span.chatID
            %span.chatDetail
          .chatBox
          .chatInputHldr
            %input.chatTxtInput{ :type=>"text"}
            %input.sendMsg{:type=>"button", :value=>"send"}

%p{:style=>"text-align:center;margin-top:25px;"}
  %a.addPhono{:href=>"javascript:void()", :style=>"font-size:125%;"} Add a New Phono

%logConsole
  %a.logToggler{:href=>"javascript:void()"} Show Log Viewer
  #logHldr
